.app {
  width: 100%;
  display: flex;
  overflow-y: auto;
  height: 100vh;
  background-color: #fff;
}

.app__wrapper {
  margin-top: 40px;
  height: 100%;
}

.app__panel {
  padding: 40px 15px 40px;
  overflow-y: hidden;
  height: 100%;
}

.app__panel_left {
  width: 460px;
  color: #fff;
  background-image: linear-gradient(to top, #008e9d, #00a1ac);
}

.app__panel_right {
  width: calc(100% - 460px);
  color: #666;
  background-color: #eaeaea;
}
