.employeeLink {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #666;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  transition: 0.3s;
  transition-property: background-color, color;
}

.employeeLink:hover {
  color: #fff;
  background-color: #00a1ac;
}

.employeeLink__inner {
  display: flex;
  width: 100%;
}

.employeeLink span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
}
